# Using VADER

VADER (Valence Aware Dictionary and Sentiment Reasoner) is a rule-based sentiment analyzer that has been trained on social media text. Just like Text Blob, its usage in Python is pretty simple

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("Desktop/python/movie1.csv")
df1.head()

  Customer    Movie Feedback
0        A  Avatar2     Good
1        B  Avatar2      Bad
2        C  Avatar2  Average
3        D  Avatar2     Good

In [4]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in c:\users\koushik.rangarajan\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\koushik.rangarajan\anaconda3\lib\site-packages (from vaderSentiment) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\koushik.rangarajan\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\koushik.rangarajan\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\koushik.rangarajan\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\koushik.rangarajan\anaconda3\lib\site-packages (from requests->vaderSentiment) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [6]:
sentiment = SentimentIntensityAnalyzer()
text_1 = "Good"
sent_1 = sentiment.polarity_scores(text_1)
print(sent_1)

{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.4404}

In [7]:
df1['scores']=df1["Feedback"].apply(lambda x: sentiment.polarity_scores(str(x)))
df1.head()

,Customer,Movie,Feedback,scores
0,A,Avatar2,Good,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound..."
1,B,Avatar2,Bad,"{'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound..."
2,C,Avatar2,Average,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,D,Avatar2,Good,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound..."

In [9]:
df1['compound']=df1['scores'].apply(lambda score_dict:score_dict['compound'])
df1.head()
df1['pos']=df1['scores'].apply(lambda pos_dict:pos_dict['pos'])
df1.head()
df1['neg']=df1['scores'].apply(lambda neg_dict:neg_dict['neg'])
df1.head()

,Customer,Movie,Feedback,scores,compound,pos,neg
0,A,Avatar2,Good,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.4404,1.0,0.0
1,B,Avatar2,Bad,"{'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound...",-0.5423,0.0,1.0
2,C,Avatar2,Average,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.0
3,D,Avatar2,Good,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.4404,1.0,0.0

In [11]:
def vader_analysis(compound):
    if compound > 0:
        return 'Positive'
    elif compound < 0 :
        return 'Negative'
    else:
        return 'Neutral'
df1['Emotion']= df1['compound'].apply(lambda x : vader_analysis(x))

In [12]:
df1.head()

,Customer,Movie,Feedback,scores,compound,pos,neg,Emotion
0,A,Avatar2,Good,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.4404,1.0,0.0,Positive
1,B,Avatar2,Bad,"{'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound...",-0.5423,0.0,1.0,Negative
2,C,Avatar2,Average,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.0,Neutral
3,D,Avatar2,Good,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.4404,1.0,0.0,Positive